//////////////////////////FOOTER BEGIN////////////////////////

$font_text: 'Open Sans', sans-serif;

.footer {

  background-size: cover;
  padding: 60px 0 53px 0;
  overflow: hidden;
  position: relative;

  .bottom-t {
    display: block;
    background-color: black;
    opacity: 0.1;
    height: 20px;
    width: 37px;
    position: absolute;
    right: 11%;
    top: 0;
  }

  .caption {
    font-family: $font_text;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FAFAFA;
    margin-bottom: 16px;
  }

  .form-title {
    font-family: $font_text;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FAFAFA;
    margin-bottom: 20px;
  }

  input, textarea {
    padding: 3px 16px;
    font-family: $font_text;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    align-items: center;
    color: #FAFAFA !important;
    width: 384px;
    border: 2px solid #FAFAFA;
    background: transparent;
    margin-bottom: 16px;
  }

  ::-webkit-input-placeholder {
    -webkit-text-security: none;
    color: #FAFAFA;
    pointer-events: none !important;
  }

  textarea {
    padding: 3px 16px 3px 16px;
  }

  button {
    //margin-left: 9px;
    margin-top: 5px;
    background-color: transparent;
    border: none;
  }

  .btn {
    font-family: $font_text;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    color: #0059CB;
    //background-color: #FFFFFF;
    position: relative;
    padding: 15px 40px;
    max-width: 100%;
    border: 2px solid #fff;
    border-radius: 0;
    z-index: 9;
    background-color: #FFFFFF;

    &:before {
      z-index: -2;
      border: 2px solid #fff;
      position: absolute;
      content: '';
      top: 5px;
      left: -10px;
      bottom: -10px;
      right: 4px;
    }

    &:after {
      z-index: -2;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
    }
    &:hover {
      &:after,  &:before {
        display: none;
      }
      background-color: #FFFFFF;
      color: #0059CB;
      transition: .3s;
    }
  }

  .footer-title {
    font-family: $font_text;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FAFAFA;
    margin-bottom: 0;
  }

  .text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FAFAFA;
    margin-bottom: 11px;
    span {
      display: block;
    }
  }

  .follow-ours-small {
    display: none;
  }

  .text.bottom {
    margin-bottom: 23px;
  }

  .footer-title.follow {
    margin-bottom: 16px;
  }

  .image-icon {
    max-width: 24px;
    max-height: 24px;
    margin-right: 12px;
    display: inline-block;
  }

  .footer-title.tel {
    margin-top: 57px;
    margin-left: 0;
    margin-bottom: 6px;
  }

  .phone {
    display: block;
    font-family: $font_text;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FAFAFA;
    margin-bottom: 0;
    &:hover {
      text-decoration: none;
    }
  }

  .line {
    background-color: rgba(228, 228, 228, 0.2);
    z-index: 1;
  }

  ///media

  @media (max-width: 1430px) {
 .bottom-t {
   display: none;
 }
  }

  @media (max-width: 991px) {
    input, textarea {
      width: 100%;
    }
    .btn {
      padding: 15px 30px;
    }
  }

  @media (max-width: 767px) {
    text-align: center;
    justify-content: center;
    align-items: center;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    padding: 41px 0 53px 0;
    .form-title {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 22px;
    }
    .caption {
      margin-bottom: 1px;
    }

    input, textarea {
      font-size: 14px;
      line-height: 28px;
      max-width: 384px;
      padding: 4px 12px;
    }
    textarea {
      height: 77px;
    }

    button {
      margin: 11px 0 46px 0;
      max-width: 384px;
    }

    .btn {
      font-size: 16px;

      padding: 14px 38px;
      line-height: 22px;
    }

    .caption.contact {
      margin-bottom: 14px;
    }
    .footer-title, .text {
      font-size: 16px;
      line-height: 26px;
    }
    .footer-title {
      margin-bottom: 8px;
    }
    .follow-ours-desk {
      display: none;
    }
    .follow-ours-small {
      display: block;
      margin-top: 23px;
    }
    .text.bottom {
      margin-bottom: -30px;
    }
    .footer .phone {
      font-size: 16px;
      line-height: 22px;
    }
  }

  @media (max-width: 410px) {
    text-align: left;
    button {
      width: 100%;
    }
    input, textarea {
      font-size: 14px;
      line-height: 28px;
      width: 100%;
      padding: 4px 12px;
    }
  }
}

//////////////////////////FOOTER END////////////////////////