//////////////////////////FOOTER BEGIN////////////////////////

$font_text: 'Montserrat', sans-serif;
$caption_text: Cera Pro, sans-serif;

.footer {
  padding: 74px 0 98px 0;

  .footer-inner {
    display: flex;
    align-items: center;
  }

  .caption {
    font-family: $caption_text;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #097D07;
    margin-bottom: 57px;
  }

  .contact {
    display: flex;
    justify-content: center;
  }

  .social {
    padding-right: 82px;
    border-right: 1px solid #464646;

    .social-block {
      display: flex;
      align-items: center;
      &:hover {
        text-decoration: none;
      }
    }
    .image {
      max-width: 44px;
      max-height: 44px;
      margin-right: 14px;
    }

    .social-text {
      font-family: $font_text;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 195.5%;
      color: #000000;
    }

    .facebook {
      margin-bottom: 63px;
    }

    .instagram {
      margin-bottom: 41px;
    }
  }

  .phones {
    padding-left: 87px;

    .phone {
      display: block;
    }

    .phones-block {
      margin-bottom: 22px;
    }

    .contact-title {
      font-family: $font_text;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 195.5%;
      color: #000000;
      margin-bottom: 5px;
    }

    .contact-text, .contact-text a {
      font-family: $font_text;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 195.5%;
      color: #000000;
    }

    .contact-text a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  form {
    display: inline-block;
    background: url("../../public/images/bg-form.png");
    background-size: cover;
    padding: 44px 85px 47px 85px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;

    .form-title {
      font-family: $font_text;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      color: #2D2D2D;
      margin-bottom: 29px;
    }

    input {
      font-family: "Comfortaa", sans-serif;
      background: transparent;
      border: 1px solid #898989;
      border-radius: 10px;
      padding: 16px 26px;
      width: 367px;
      display: block;
      margin-bottom: 33px;
      margin-left: auto;
      margin-right: auto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #2D2D2D;
    }

    textarea {
      width: 367px;
      height: 90px;
      display: block;
      font-family: "Comfortaa", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
      margin-left: auto;
      margin-right: auto;
      color: #2D2D2D;
      border: 1px solid #898989;
      border-radius: 10px;
      padding: 16px 14px 32px 26px;
      background: transparent;
      margin-top: 3px;
    }

    button {
      max-width: 367px;
      margin-left: auto;
      margin-right: auto;
      background: #0B9708;
      border-radius: 10px;
      border: 1px solid #27AF25;
      .btn {
        font-family: $font_text;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        border-radius: 10px;
        padding: 14px 40px;
      }
      &:hover {
        background: #DDDDDD;
        border: 1px solid #DDDDDD;
        .btn {
          color: #27AF25;
        }
      }
    }
  }

  ///media

  @media (max-width: 1120px) {
    form {
      padding: 44px 30px 47px 30px;
    }
  }

  @media (max-width: 991px) {
    .form {
      display: flex;
      justify-content: center;
      padding-top: 30px;
    }
  }

  @media (max-width: 768px) {
    padding: 60px 0 60px 0;

    .caption {
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }

  @media (max-width: 530px) {
    .social {
      padding-right: 15px;
    }
     .phones {
      padding-left: 15px;
    }
  }

  @media (max-width: 470px) {
    form input {
      width: 245px;
    }
    form button {
      width: 245px;
    }
  }

  @media (max-width: 375px) {
    .contact {
      flex-direction: column;
      align-items: center;
    }

    .form {
      padding-top: 0;
    }

    .social {
      border-right: none;
      .facebook, .instagram, .youtube {
        margin-bottom: 22px;
      }
    }
    .phones {
      text-align: center;
    }
  }
}

//////////////////////////FOOTER END////////////////////////