////////////////////////FRIDGE BEGIN////////////////////////
$font_text: 'Montserrat', sans-serif;
$caption_text: Cera Pro, sans-serif;

.fridge {
  padding: 88px 0 29px 0;
  background: url("../../public/images/bg-fridge.png");
  background-size: cover;

  .caption {
    font-family: $caption_text;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 1px;
  }

  .image {
    &:hover {
      cursor: pointer;
        &:after {
          display: none;
        }
      .title{
        display: none;
      }
    }
  }

  .image {
    max-width: 383px;
    max-height: 339px;
    position: relative;
    margin-bottom: 71px;
    //opacity: 0.5;
    border: 1px solid #fff;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .title {
    font-family: $font_text;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 200%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 319px;
    height: 73px;
    //margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 9;
    opacity: 1;
    //&:hover {
    //  display: none;
    //}
    &:before {
      content: "";
      display: inline-block;
      height: 1px;
      width: 100px;
      background: #fff;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: -28px;
    }
    &:after {
      content: "";
      display: inline-block;
      height: 1px;
      width: 100px;
      background: #fff;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: -25px;
    }
  }

  .list {
    position: relative;
  }

  .image-list {
    width: 58px;
    height: 58px;
    margin: 0 auto;
    margin-bottom: 34px;
    //position: relative;
    &:before {
      content: "";
      display: inline-block;
      // width: 558px;
      height: 1px;
      background: #fff;
      position: absolute;
      left: 0;
      top: 50%;
      width: 42.2%;
    }
    &:after {
      content: "";
      display: inline-block;
      // width: 558px;
      height: 1px;
      background: #fff;
      position: absolute;
      right: 0;
      top: 50%;
      width: 42.2%;
    }
  }

  .list.first {
    margin-top: 71px;
    margin-bottom: 24px;
  }

  .free-caption {
    font-family: $font_text;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 149.9%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 16px;
    width: 636px;
  }

  form {
    display: flex;
    justify-content: flex-end;

    input {
      padding: 13px 39px 15px 36px;
      border: 1px solid #9B9B9B;
      border-radius: 10px;
      font-family: 'Comfortaa', cursive;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
      color: #454545;
      width: 298px;
    }

    button {
      border: 1px solid;
      background: #27AF25;
      border-radius: 10px;
      margin-left: 14px;
      .btn {
        font-family: $font_text;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 11px 70px 11px 70px;
      }
      &:hover {
        background: #DDDDDD;
        .btn {
          color: #27AF25;
        }
      }
    }
  }

  ///media

  @media (max-width: 991px) {
    .order-main {
      display: flex;
      justify-content: center;
    }

    .free-caption {
      text-align: center;
      width: 100%;
    }

    .free-text {
      text-align: center;
    }

    .item {
      margin-bottom: 30px;
    }
    .list.second {
      margin-top: 30px;
    }
  }

  @media (max-width: 768px) {
    padding: 60px 0 30px 0;
    .caption {
      font-size: 38px;
      line-height: 38px;
      margin-bottom: 30px;
    }

    .list.first {
      margin-top: 0;
    }

    .image-list {
      margin-bottom: 30px;
    }

    .free-caption {
      font-size: 34px;
      line-height: 38px;
      margin-bottom: 30px;
      margin-top: 0;
    }
    .free-text {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .title {
      width: 289px;
    }
  }


    @media (max-width: 570px) {

    .order-main {
      flex-direction: column;
      align-items: center;

      button {
        width: 298px;
        margin: 0;
      }
      input {
        margin-bottom: 30px;
      }
    }
  }
}

//////////////////////////FRIDGE END////////////////////////

