$font_text: 'Montserrat', sans-serif;
.header-banner {
  //min-height: 100vh;
}
.header {
  background: url("../../public/images/bg-header.png");
  background-color: #FFFFFF;
  //background-size: cover;
  padding: 14px 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo {
    max-width: 126px;
    max-height: 32px;
  }

  .menu {
    display: flex;
  }

  .menu li {
    margin-left: 65px;
  }

  .menu a {
    font-family: $font_text;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #000000;

  }



  .menu a:hover {
    color: #000000;
    text-decoration: none;
  }

  .top {
    display: flex;
    justify-content: space-between;
  }

  .logo-address {
    display: flex;
    align-items: center;
  }

  .address  p {
    font-family: $font_text;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 0 48px;
  }

  .logo-mobile {
    display: none;
  }

.phone {
  display: none;
}

  // c крестиком

  .toggle-menu {
    position: relative;
    width: 18px;
    height: 12px;
    cursor: pointer;
    display: none;

    span {
      position: absolute;
      background-color: #1D1D1D;
      width: 100%;
      height: 2px;
      top: 50%;
      right: 0;
      margin-top: 9px;
      opacity: 1;
      &:before {
        position: absolute;
        background: #1D1D1D;
        width: 18px;
        height: 2px;
        bottom: 5px;
        content: "";
        display: block;
      }
      &:after{
        position: absolute;
        background: #1D1D1D;
        width: 18px;
        height: 2px;
        top: 5px;
        content: "";
        display: block;
      }
    }
  }

  .toggle-menu.menu-on {
    span {
      background-color: transparent;
      transition: all .3s ease-in-out;
      &:before {
        background-color: #1D1D1D;
        transform: rotate(-45deg);
        top: 0;
        position: absolute;
        transition: all .3s ease-in-out;
      }
      &:after {
        background-color: #1D1D1D;
        transform: rotate(45deg);
        top: 0;
        position: absolute;
        transition: all .3s ease-in-out;
      }
    }

  }

  .change-img {
    .logo-desk {
      display: none;
    }
    .logo-mobile {
      display: block;
    }
  }

  ///media

  @media (max-width: 1107px) {
    //.address {
    //  display: none;
    //}
  }

  @media (max-width: 1089px) {
    .phone {
      display: block;
    }

    .header__inner {
      display: flex;

      flex-wrap: wrap;
      flex-direction: column;
      align-items: inherit;
    }

    .main-nav {
      display: none;
      //padding: 89px 0 134px 0;
      padding-top: 14px;
    }

    .menu li {
      margin-left: 0;
    }

    .main-nav.open {
      display: block;
    }

    .menu {
      display: block;
      text-align: center;
    }

    .menu a {
      font-family: $font_text;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      display: block;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 18px;
    }

    .toggle-menu {
      display: block;
    }
  }

  @media (max-width: 460px) {
    .address p {
      font-size: 10px;
      line-height: 12px;
      margin: 0 0 0 20px;
      max-width: 120px;
    }
  }

  //@media (max-width: 400px) {
  //  padding: 18px 0;
  //  .logo {
  //    max-width: 110px;
  //    height: 21px;
  //  }
  //}

}

////////////////////////HEADER END////////////////////////