//////////////////////////PORTFOLIO BEGIN////////////////////////
$font_text: 'Open Sans', sans-serif;

.portfolio {
  padding-bottom: 0;
  padding-top: 147px;
  overflow: hidden;
  position: relative;

  .shot-line-left {
    width: 2px;
    height: 48px;
    left: 25%;
    background: #0059CB;
    position: absolute;
    top: -224%;
    z-index: 2;
  }

  .shot-line-right {
    position: absolute;
    width: 2px;
    height: 48px;
    right: 25%;
    background: #0059CB;
    top: -224%;
    z-index: 2;
  }

  .block {
    position: absolute;
    height: 160px;
    width: 50%;
    background: #F0F0F0;
  }

  .block-left {
    left: 0;
    top: 200%;
  }

  .block-right {
    right: 0;
    bottom: -1200%;
    //bottom: -473px;
  }

  .caption {
    font-family: $font_text;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    color: #00295F;
    margin-bottom: 40px;
    text-align: center;
    span {
      color: #0059CB;
    }
  }

  .image {
    max-width: 486px;
    max-height: 360px;
  }

  .container-slider {
    max-width: 1020px;
    //padding: 0 0 0 8px !important;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }

  .item {
    margin: 0 20px;
  }

  .item.odd {
    margin-top: 74px;
  }

  .line {
    background-color: #E4E4E4;
  }

  //slider

  .portfolio-slider {
    outline: none;
  }

  .slick-prev, .slick-next {
    border: 2px solid #0059CB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;

    .fa-chevron-right, .fa-chevron-left {
      font-size: 20px;
      color: #0059CB;
    }
  }

  .slick-prev {
    left: -8.7%;
    top: 51%;
  }

  .slick-next {
    right: -8.7%;
    top: 51%;
  }

  .slick-prev, .slick-next {
    &:hover {
      background-color: #0059CB;
      transition: .3s;
      .fa-chevron-right, .fa-chevron-left {
        color: #fff;
        transition: .3s;
      }
    }
  }

  .slick-prev:before, .slick-next:before {
    font-size: 0;
  }

  .slick-prev:before {
    margin-left: -3px !important;
  }

  .slick-next:before {
    margin-left: 3px !important;
  }

  .img-small {
    display: none;
  }

  ///media

  @media (max-width: 1240px) {
    .slick-prev {
      left: -7%;
    }

    .slick-next {
      right: -7%;
    }
  }

  @media (max-width: 1199px) {
    .slick-prev, .slick-next {
      border: 2px solid #fff;

      .fa-chevron-right, .fa-chevron-left {
        color: #fff;
      }
    }
    .slick-prev {
      left: 20px;
      z-index: 1;
      top: 58%;
      //background-color: #FFFFFF;
    }
    .slick-next {
      right: 20px;
      z-index: 1;
      top: 42%;
      // background-color: #FFFFFF;
    }
  }

  @media (max-width: 974px) {
    .slick-prev {
      top: 59%
    }
    .slick-next {
      top: 41%
    }
  }

  @media (max-width: 890px) {
    .block-right {
      right: 0;
      bottom: -1100%;
      //bottom: -473px;
    }
  }

  @media (max-width: 790px) {
    .block-right {
      right: 0;
      bottom: -1000%;
      //bottom: -473px;
    }
  }
  @media (max-width: 690px) {
    .block-right {
      right: 0;
      bottom: -940%;
      //bottom: -473px;
    }
  }

  @media (max-width: 768px) {
    .slick-prev {
      top: 62%
    }
    .slick-next {
      top: 39%
    }
  }

  @media (max-width: 576px) {

    .item.odd {
      margin-top: 0;
    }

    .block {
      display: none;
    }

    .img-small {
      display: block;
    }

    .img-big {
      display: none;
    }

    .image {
      max-width: 100%;
      max-height: 100%;
      position: relative;
    }

    padding-top: 72px;
    padding-bottom: 0;

    .caption {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      color: #00295F;
      text-align: left;
      margin-bottom: 24px;
      span {
        display: inline;
      }
    }

    .shot-line-right {
      position: absolute;
      width: 2px;
      height: 32px;
      right: 25%;
      background: #0059CB;
      top: -216%;
      z-index: 2;
    }

    .shot-line-left {
      position: absolute;
      width: 2px;
      height: 32px;
      left: 25%;
      background: #0059CB;
      top: -216%;
      z-index: 2;
    }

    .container-slider {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 0;
    }

    .item {
      margin: 0;
      width: 100%;
    }

    .slick-dots {
      width: calc(50% - 15px);
      position: absolute;
      bottom: -33px;
      margin: 0;
      list-style: none;
      text-align: center;
      left: calc(25% + 7.5px);
      //right: 25%;
      background-color: #F0F0F0;
      display: flex;
      justify-content: center;
      padding: 12px 0;
    }

    .slick-dots li {
      position: relative;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 0 4px;
      padding: 0;
      cursor: pointer;
      background: #00295F;
    }

    .slick-dots .slick-active {
      background: #0059CB;
    }

    .slick-dots li button {
      font-size: 0;
      line-height: 0;
      display: inline;
      width: 0;
      height: 0;
      padding: 0;
      cursor: pointer;
      border: 0;
      outline: none;
      background: #00295F;
    }

    .slick-dots li button:before {
      display: none;
    }

    .slick-dotted.slick-slider {
      margin-bottom: 30px;
      position: relative;
    }

  }

  @media (max-width: 404px) {
    .slick-dots {
      bottom: -32px;
    }
  }
}

//////////////////////////PORTFOLIO END////////////////////////