//////////////////////////PRODUCTS BEGIN////////////////////////
$font_text: 'Montserrat', sans-serif;
$caption_text: Cera Pro, sans-serif;

.products {
  padding: 96px 0 85px 0;
  background-image: url("../../public/images/bg-prod.png");
  background-size: cover;

  .caption {
    font-family: $caption_text;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #097D07;
    letter-spacing: -1px;
    margin-bottom: 87px;
  }

  .image {
    max-width: 319px;
    max-height: 319px;
  }

  .products-inner {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    display: flex;
  }

  .item-body {
    padding: 115px 35px 30px 35px;
    background: #FFFFFF;
    //display: flex;
    //justify-content: center;
    //flex-direction: column;
    .title {
      position: relative;
      font-family: $font_text;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 104px;
      &:before {
        content: "";
        display: inline-block;
        height: 1px;
        width: 55px;
        background: black;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: -30px;
      }
      &:after {
        content: "";
        display: inline-block;
        height: 1px;
        width: 55px;
        background: black;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -30px;
      }
    }

    .button {
      width: 250px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 18px;
      .btn {
        font-family: $font_text;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #0B9708;
        background: #DDDDDD;
        padding: 10px 0;
        position: relative;
        width: 250px;
        border-radius: 0;
        display: flex;
        justify-content: center;
        &:before {
          content: "";
          background: #DDDDDD;
          height: 8px;
          width: 250px;
          top: -8px;
          left: -1px;
          display: inline-block;
          position: absolute;
          clip-path: polygon(0 100%, 2% 0,  4% 100%, 4% 100%, 6% 0, 8% 100%, 8% 100%, 10% 0, 12% 100%, 12% 100%, 14% 0, 16% 100%, 16% 100%, 18% 0, 20% 100%, 20% 100%, 22% 0, 24% 100%, 24% 100%, 26% 0, 28% 100%, 28% 100%, 30% 0, 32% 100%, 32% 100%, 34% 0, 36% 100%, 36% 100%, 38% 0, 40% 100%, 40% 100%, 42% 0,  44% 100%, 44% 100%, 46% 0, 48% 100%, 48% 100%, 50% 0, 52% 100%, 52% 100%, 54% 0, 56% 100%, 56% 100%, 58% 0, 60% 100%, 60% 100%, 62% 0, 64% 100%, 64% 100%, 66% 0, 68% 100%, 68% 100%, 70% 0, 72% 100%, 72% 100%, 74% 0, 76% 100%, 76% 100%, 78% 0, 80% 100%, 80% 100%, 82% 0,  84% 100%, 84% 100%, 86% 0, 88% 100%, 88% 100%, 90% 0, 92% 100%, 92% 100%, 94% 0, 96% 100%, 96% 100%, 98% 0, 100% 100%);
        }
      }
    }
  }

  .item.alco .item-body {
    padding: 105px 26px 30px 26px;
  }

  .item.milk .item-body {
    padding: 105px 24px 30px 25px;
  }

  .item.veg .item-body {
    padding-top: 105px;
  }

}

//////////////////////////PRODUCTS END////////////////////////