.header-banner {
  min-height: 100vh; }

.header {
  background: url("../../public/images/bg-header.png");
  background-size: cover;
  padding: 14px 0; }
  .header .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  .header .logo {
    max-width: 126px;
    max-height: 32px; }
  .header .menu {
    display: flex; }
  .header .menu li {
    margin-left: 65px; }
  .header .menu a {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #000000; }
  .header .menu a:hover {
    color: #000000;
    text-decoration: none; }
  .header .top {
    display: flex;
    justify-content: space-between; }
  .header .logo-address {
    display: flex;
    align-items: center; }
  .header .address p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 0 48px; }
  .header .logo-mobile {
    display: none; }
  .header .toggle-menu {
    position: relative;
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: none; }
    .header .toggle-menu span {
      position: absolute;
      background-color: #0059CB;
      width: 100%;
      height: 2px;
      top: 50%;
      right: 0;
      margin-top: -5px;
      opacity: 1; }
      .header .toggle-menu span:before {
        position: absolute;
        background: #0059CB;
        width: 28px;
        height: 2px;
        bottom: 6px;
        content: "";
        display: block; }
      .header .toggle-menu span:after {
        position: absolute;
        background: #0059CB;
        width: 28px;
        height: 2px;
        top: 6px;
        content: "";
        display: block; }
  .header .toggle-menu.menu-on span {
    background-color: transparent;
    transition: all .3s ease-in-out; }
    .header .toggle-menu.menu-on span:before {
      background-color: #FFFFFF;
      transform: rotate(-45deg);
      top: 0;
      position: absolute;
      transition: all .3s ease-in-out; }
    .header .toggle-menu.menu-on span:after {
      background-color: #FFFFFF;
      transform: rotate(45deg);
      top: 0;
      position: absolute;
      transition: all .3s ease-in-out; }
  .header .change-img .logo-desk {
    display: none; }
  .header .change-img .logo-mobile {
    display: block; }
  @media (max-width: 955px) {
    .header .header__inner {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: inherit; }
    .header .main-nav {
      display: none;
      padding: 89px 0 134px 0; }
    .header .menu li {
      margin-left: 0; }
    .header .main-nav.open {
      display: block; }
    .header .menu {
      display: block;
      text-align: center; }
    .header .menu a {
      display: block;
      padding: 16px 0;
      color: #FAFAFA;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 33px; }
    .header .toggle-menu {
      display: block; } }
  @media (max-width: 400px) {
    .header {
      padding: 18px 0; }
      .header .logo {
        max-width: 110px;
        height: 21px; } }

.banner .banner-inner {
  display: flex;
  justify-content: center; }
.banner .image-big {
  max-width: 842px;
  max-height: 633px; }
.banner .image {
  position: relative;
  max-width: 598px;
  max-height: 316px; }
.banner .text-first {
  position: absolute;
  bottom: 32px;
  right: 32px; }
  .banner .text-first .title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px; }
    .banner .text-first .title:before {
      content: "";
      display: inline-block;
      height: 2px;
      width: 42px;
      background: #FFFFFF;
      position: absolute;
      top: 15%;
      left: -8%; }
    .banner .text-first .title:after {
      content: "";
      display: inline-block;
      height: 2px;
      width: 42px;
      background: #FFFFFF;
      position: absolute;
      top: 15%;
      right: -8%; }
  .banner .text-first .sub-title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; }
    .banner .text-first .sub-title:before {
      content: "";
      display: inline-block;
      height: 2px;
      width: 55px;
      background: #FFFFFF;
      position: absolute;
      bottom: 41%;
      left: 38%; }
  .banner .text-first .text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 200%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 228px;
    margin-top: 35px; }
.banner .text-second {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 158.9%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  max-width: 296px;
  position: absolute;
  bottom: 23%;
  left: 8%; }
  .banner .text-second:before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 42px;
    background: #000;
    position: absolute;
    top: 49%;
    left: -8%; }
  .banner .text-second:after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 42px;
    background: #000;
    position: absolute;
    top: 49%;
    right: -8%; }

.why {
  padding: 81px 0 83px 0;
  background: url("../../public/images/bg-why.png") center center no-repeat;
  background-size: cover; }
  .why .caption {
    font-family: Cera Pro, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #097D07;
    margin: 0 0 60px; }
  .why .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 92px; }
    .why .about .image {
      max-width: 573px;
      max-height: 259px; }
    .why .about .about-text {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 195.5%;
      color: #000000;
      max-width: 631px;
      margin: 0; }
  .why .contact {
    display: flex;
    justify-content: space-between;
    position: relative; }
    .why .contact .contact-desk {
      background: #FFFFFF;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
      padding: 36px 62px 28px 38px;
      position: absolute;
      top: 56px;
      left: 60px; }
      .why .contact .contact-desk .address-time {
        display: flex;
        justify-content: space-between; }
      .why .contact .contact-desk .address-tel {
        display: flex;
        justify-content: space-between;
        align-items: flex-end; }
      .why .contact .contact-desk .contact-caption {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        color: #097D07;
        margin-bottom: 18px; }
      .why .contact .contact-desk .contact-title {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 195.5%;
        color: #000000;
        margin-bottom: 5px; }
      .why .contact .contact-desk .contact-text {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 195.5%;
        color: #000000;
        margin: 0;
        width: 160px; }
        .why .contact .contact-desk .contact-text a {
          display: block;
          color: #000000;
          text-decoration: none; }
      .why .contact .contact-desk .time {
        max-width: 162px; }
      .why .contact .contact-desk .image-icon {
        max-width: 44px;
        max-height: 44px;
        display: flex; }
      .why .contact .contact-desk .social-icon {
        display: flex; }
      .why .contact .contact-desk .inst {
        margin: 0 17px; }
    .why .contact .image {
      max-width: 933px;
      max-height: 394px;
      margin-left: auto; }

.pizzas {
  padding: 100px 0 14px 0;
  position: relative; }
  .pizzas .caption {
    font-family: Cera Pro, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #097D07;
    margin-bottom: 83px; }
  .pizzas .pizza-card {
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-bottom: 37px; }
    .pizzas .pizza-card:hover .pizza-body {
      background: url("../../public/images/bg-pizza.png");
      background-size: cover;
      transition: background 0.5s linear;
      color: #FFFFFF; }
      .pizzas .pizza-card:hover .pizza-body .title {
        color: #FFFFFF;
        transition: 0.5s ease; }
        .pizzas .pizza-card:hover .pizza-body .title:after {
          background: #FFFFFF;
          transition: 0.5s ease; }
      .pizzas .pizza-card:hover .pizza-body .composition {
        color: #FFFFFF;
        transition: 0.5s ease; }
      .pizzas .pizza-card:hover .pizza-body .text {
        color: #FFFFFF;
        transition: 0.5s ease; }
      .pizzas .pizza-card:hover .pizza-body .button .btn {
        background: #27AF25;
        color: #FFFFFF;
        transition: 0.5s ease; }
        .pizzas .pizza-card:hover .pizza-body .button .btn:before {
          background: #27AF25;
          transition: 0.5s ease; }
    .pizzas .pizza-card .pizza-body {
      padding: 35px 19px 27px 19px; }
    .pizzas .pizza-card .image {
      max-width: 290px;
      max-height: 214px; }
    .pizzas .pizza-card .title {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 62px;
      position: relative; }
      .pizzas .pizza-card .title:after {
        content: "";
        width: 55px;
        height: 1px;
        background: #000;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -145%;
        display: inline-block;
        position: absolute; }
    .pizzas .pizza-card .composition {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 200%;
      text-transform: uppercase;
      color: #000000;
      max-width: 235px;
      margin-bottom: 20px; }
    .pizzas .pizza-card .info {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .pizzas .pizza-card .line-first {
      height: 1px;
      background: #939393;
      width: 158px;
      margin-top: 8px; }
    .pizzas .pizza-card .line-second {
      height: 1px;
      background: #939393;
      width: 162px;
      margin-top: 8px; }
    .pizzas .pizza-card .text {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 200%;
      color: #000000; }
    .pizzas .pizza-card .button {
      margin-top: 18px; }
      .pizzas .pizza-card .button .btn {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #0B9708;
        background: #DDDDDD;
        padding: 10px 0;
        position: relative;
        width: 250px;
        border-radius: 0; }
        .pizzas .pizza-card .button .btn:before {
          content: "";
          background: #DDDDDD;
          height: 8px;
          width: 250px;
          top: -8px;
          left: -1px;
          display: inline-block;
          position: absolute;
          clip-path: polygon(0 100%, 2% 0, 4% 100%, 4% 100%, 6% 0, 8% 100%, 8% 100%, 10% 0, 12% 100%, 12% 100%, 14% 0, 16% 100%, 16% 100%, 18% 0, 20% 100%, 20% 100%, 22% 0, 24% 100%, 24% 100%, 26% 0, 28% 100%, 28% 100%, 30% 0, 32% 100%, 32% 100%, 34% 0, 36% 100%, 36% 100%, 38% 0, 40% 100%, 40% 100%, 42% 0, 44% 100%, 44% 100%, 46% 0, 48% 100%, 48% 100%, 50% 0, 52% 100%, 52% 100%, 54% 0, 56% 100%, 56% 100%, 58% 0, 60% 100%, 60% 100%, 62% 0, 64% 100%, 64% 100%, 66% 0, 68% 100%, 68% 100%, 70% 0, 72% 100%, 72% 100%, 74% 0, 76% 100%, 76% 100%, 78% 0, 80% 100%, 80% 100%, 82% 0, 84% 100%, 84% 100%, 86% 0, 88% 100%, 88% 100%, 90% 0, 92% 100%, 92% 100%, 94% 0, 96% 100%, 96% 100%, 98% 0, 100% 100%); }
  .pizzas .clock {
    position: relative; }
  .pizzas .image-clock {
    width: 58px;
    height: 58px;
    margin: 0 auto;
    margin-bottom: 34px; }
    .pizzas .image-clock:before {
      content: "";
      display: inline-block;
      height: 1px;
      background: black;
      position: absolute;
      left: 0;
      top: 50%;
      width: 42.2%; }
    .pizzas .image-clock:after {
      content: "";
      display: inline-block;
      height: 1px;
      background: black;
      position: absolute;
      right: 0;
      top: 50%;
      width: 42.2%; }
  .pizzas .free-caption {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 149.9%;
    text-transform: uppercase;
    color: #242424;
    margin: 0; }
  .pizzas .free-text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 200%;
    text-align: right;
    text-transform: uppercase;
    color: #242424;
    margin-top: 38px;
    margin-bottom: 8px; }
  .pizzas form {
    display: flex;
    justify-content: flex-end; }
    .pizzas form input {
      padding: 13px 39px 15px 36px;
      border: 1px solid #9B9B9B;
      border-radius: 10px;
      font-family: 'Comfortaa', cursive;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
      color: #454545;
      width: 298px; }
    .pizzas form button {
      background: #27AF25;
      border-radius: 10px;
      margin-left: 14px; }
      .pizzas form button .btn {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 11px 70px 11px 70px; }

.delivery {
  padding: 88px 0 108px 0;
  background: url("../../public/images/bg-delivery.png");
  background-size: cover; }
  .delivery .caption {
    font-family: Cera Pro, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 61px; }
  .delivery .item.clock {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #FFFFFF;
    padding: 34px 0 44px 0;
    text-align: center; }
    .delivery .item.clock .image {
      width: 103px;
      height: 103px;
      margin: 0 auto 23px; }
    .delivery .item.clock .title {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      max-width: 320px;
      margin: 0 auto 50px;
      position: relative; }
      .delivery .item.clock .title:after {
        content: "";
        display: inline-block;
        height: 1px;
        background: #FFFFFF;
        width: 100px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -65%; }
    .delivery .item.clock .text {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 200%;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      max-width: 260px;
      margin: 0 auto; }
  .delivery .item.value {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #FFFFFF;
    padding: 55px 0 44px 0;
    text-align: center; }
    .delivery .item.value .image {
      width: 78px;
      height: 78px;
      margin: 0 auto 32px; }
    .delivery .item.value .title {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      max-width: 320px;
      margin: 0 auto 65px;
      position: relative; }
      .delivery .item.value .title:after {
        content: "";
        display: inline-block;
        height: 1px;
        background: #FFFFFF;
        width: 100px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -205%; }
    .delivery .item.value .text {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 200%;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      max-width: 285px;
      margin: 0 auto; }
  .delivery .item.cook {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #FFFFFF;
    padding: 50px 0 44px 0;
    text-align: center; }
    .delivery .item.cook .image {
      width: 79px;
      height: 79px;
      margin: 0 auto 31px; }
    .delivery .item.cook .title {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      max-width: 320px;
      margin: 0 auto 50px;
      position: relative; }
      .delivery .item.cook .title:after {
        content: "";
        display: inline-block;
        height: 1px;
        background: #FFFFFF;
        width: 100px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -65%; }
    .delivery .item.cook .text {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 200%;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      max-width: 334px;
      margin: 0 auto; }

.products {
  padding: 96px 0 85px 0;
  background-image: url("../../public/images/bg-prod.png");
  background-size: cover; }
  .products .caption {
    font-family: Cera Pro, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #097D07;
    letter-spacing: -1px;
    margin-bottom: 87px; }
  .products .image {
    max-width: 319px;
    max-height: 319px; }
  .products .products-inner {
    display: flex;
    flex-wrap: wrap; }
  .products .item {
    display: flex; }
  .products .item-body {
    padding: 115px 35px 30px 35px;
    background: #FFFFFF; }
    .products .item-body .title {
      position: relative;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 104px; }
      .products .item-body .title:before {
        content: "";
        display: inline-block;
        height: 1px;
        width: 55px;
        background: black;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: -30px; }
      .products .item-body .title:after {
        content: "";
        display: inline-block;
        height: 1px;
        width: 55px;
        background: black;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -30px; }
    .products .item-body .button {
      width: 250px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 18px; }
      .products .item-body .button .btn {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #0B9708;
        background: #DDDDDD;
        padding: 10px 0;
        position: relative;
        width: 250px;
        border-radius: 0;
        display: flex;
        justify-content: center; }
        .products .item-body .button .btn:before {
          content: "";
          background: #DDDDDD;
          height: 8px;
          width: 250px;
          top: -8px;
          left: -1px;
          display: inline-block;
          position: absolute;
          clip-path: polygon(0 100%, 2% 0, 4% 100%, 4% 100%, 6% 0, 8% 100%, 8% 100%, 10% 0, 12% 100%, 12% 100%, 14% 0, 16% 100%, 16% 100%, 18% 0, 20% 100%, 20% 100%, 22% 0, 24% 100%, 24% 100%, 26% 0, 28% 100%, 28% 100%, 30% 0, 32% 100%, 32% 100%, 34% 0, 36% 100%, 36% 100%, 38% 0, 40% 100%, 40% 100%, 42% 0, 44% 100%, 44% 100%, 46% 0, 48% 100%, 48% 100%, 50% 0, 52% 100%, 52% 100%, 54% 0, 56% 100%, 56% 100%, 58% 0, 60% 100%, 60% 100%, 62% 0, 64% 100%, 64% 100%, 66% 0, 68% 100%, 68% 100%, 70% 0, 72% 100%, 72% 100%, 74% 0, 76% 100%, 76% 100%, 78% 0, 80% 100%, 80% 100%, 82% 0, 84% 100%, 84% 100%, 86% 0, 88% 100%, 88% 100%, 90% 0, 92% 100%, 92% 100%, 94% 0, 96% 100%, 96% 100%, 98% 0, 100% 100%); }
  .products .item.alco .item-body {
    padding: 105px 26px 30px 26px; }
  .products .item.milk .item-body {
    padding: 105px 24px 30px 25px; }
  .products .item.veg .item-body {
    padding-top: 105px; }

.fridge {
  padding: 88px 0 29px 0;
  background: url("../../public/images/bg-fridge.png");
  background-size: cover; }
  .fridge .caption {
    font-family: Cera Pro, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 1px; }
  .fridge .image {
    max-width: 383px;
    max-height: 339px;
    position: relative;
    margin-bottom: 71px; }
  .fridge .title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 200%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 319px;
    height: 73px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    .fridge .title:before {
      content: "";
      display: inline-block;
      height: 1px;
      width: 100px;
      background: #fff;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: -28px; }
    .fridge .title:after {
      content: "";
      display: inline-block;
      height: 1px;
      width: 100px;
      background: #fff;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: -25px; }
  .fridge .list {
    position: relative; }
  .fridge .image-list {
    width: 58px;
    height: 58px;
    margin: 0 auto;
    margin-bottom: 34px; }
    .fridge .image-list:before {
      content: "";
      display: inline-block;
      height: 1px;
      background: #fff;
      position: absolute;
      left: 0;
      top: 50%;
      width: 42.2%; }
    .fridge .image-list:after {
      content: "";
      display: inline-block;
      height: 1px;
      background: #fff;
      position: absolute;
      right: 0;
      top: 50%;
      width: 42.2%; }
  .fridge .list.first {
    margin-top: 71px;
    margin-bottom: 24px; }
  .fridge .free-caption {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 149.9%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 16px;
    width: 636px; }
  .fridge form {
    display: flex;
    justify-content: flex-end; }
    .fridge form input {
      padding: 13px 39px 15px 36px;
      border: 1px solid #9B9B9B;
      border-radius: 10px;
      font-family: 'Comfortaa', cursive;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
      color: #454545;
      width: 298px; }
    .fridge form button {
      background: #27AF25;
      border-radius: 10px;
      margin-left: 14px; }
      .fridge form button .btn {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 11px 70px 11px 70px; }

.corporate {
  padding: 99px 0 80px 0; }
  .corporate .image {
    max-width: 573px;
    max-height: 603px;
    margin-bottom: 154px; }
  .corporate .cafe-caption {
    font-family: Cera Pro, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 70px;
    text-transform: uppercase;
    color: #2D2D2D; }
  .corporate .caption {
    font-family: Cera Pro, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #097D07;
    margin-bottom: 65px; }
  .corporate .images {
    display: flex;
    flex-wrap: wrap; }
    .corporate .images .image {
      max-width: 325px;
      max-height: 325px;
      margin-right: 24px;
      margin-bottom: 21px;
      position: relative; }
    .corporate .images .text {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 13px; }
  .corporate form {
    display: inline-block;
    background: url("../../public/images/bg-corp.png");
    background-size: cover;
    padding: 50px 0 69px 0;
    margin-top: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center; }
    .corporate form .form-title {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      color: #2D2D2D;
      margin-bottom: 74px;
      max-width: 516px; }
    .corporate form input {
      font-family: "Comfortaa", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      background: transparent;
      text-transform: uppercase;
      color: #2D2D2D;
      border: 1px solid #898989;
      border-radius: 10px;
      padding: 16px 26px;
      width: 367px;
      display: block;
      margin-bottom: 37px;
      margin-left: auto;
      margin-right: auto; }
    .corporate form textarea {
      width: 367px;
      height: 90px;
      display: block;
      font-family: "Comfortaa", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
      margin-left: auto;
      margin-right: auto;
      color: #2D2D2D;
      border: 1px solid #898989;
      border-radius: 10px;
      padding: 16px 14px 32px 26px;
      background: transparent;
      margin-bottom: 51px; }
    .corporate form button {
      max-width: 367px;
      margin-left: auto;
      margin-right: auto;
      background: #0B9708;
      border-radius: 10px; }
      .corporate form button .btn {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        border-radius: 10px;
        padding: 14px 40px; }

.magazine {
  background: url("../../public/images/bg-magazine.png");
  background-size: cover;
  padding: 88px 0 114px 0; }
  .magazine .caption {
    font-family: Cera Pro, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 44px; }
  .magazine .title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 74px; }
  .magazine .image {
    max-width: 383px;
    max-height: 339px;
    position: relative; }
  .magazine .text {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 200%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .magazine .text:before {
      content: "";
      display: inline-block;
      height: 1px;
      width: 100px;
      background: #fff;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: -28px; }
    .magazine .text:after {
      content: "";
      display: inline-block;
      height: 1px;
      width: 100px;
      background: #fff;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: -25px; }
  .magazine .text.first {
    width: 331px;
    height: 67px; }
  .magazine .text.second {
    width: 333px;
    height: 92px; }
  .magazine .text.third {
    width: 333px;
    height: 69px; }

.reviews {
  background: url("../../public/images/bg-prod.png");
  background-size: cover;
  padding-top: 89px;
  padding-bottom: 90px;
  position: relative; }
  .reviews .caption {
    font-family: Cera Pro, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #097D07;
    margin-bottom: 63px; }
  .reviews .reviews-title {
    display: flex;
    align-items: center; }
    .reviews .reviews-title .image {
      max-width: 84px;
      max-height: 84px;
      margin-right: 31px;
      margin-bottom: 24px; }
      .reviews .reviews-title .image img {
        width: 100%;
        height: auto; }
    .reviews .reviews-title .title {
      display: flex;
      flex-direction: column; }
    .reviews .reviews-title .name {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #242424;
      margin: 0 0 11px; }
    .reviews .reviews-title .town {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      color: #242424;
      margin: 0; }
  .reviews .reviews-text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #242424; }
  .reviews .reviews-body {
    padding-left: 15px;
    padding-right: 15px; }
  .reviews .slick-prev:before, .reviews .slick-next:before {
    font-size: 1px; }
  .reviews .slick-prev.slick-arrow {
    left: 93% !important; }
  .reviews .slick-next {
    right: 0 !important; }
  .reviews .slick-prev, .reviews .slick-next {
    font-size: 16px;
    line-height: 0;
    position: absolute;
    top: 122%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #0B9708;
    border: 1px solid #0B9708;
    outline: none;
    background: transparent;
    z-index: 1; }
  .reviews .slick-prev:active, .reviews .slick-next:active {
    color: #fff;
    border: 1px solid #0B9708;
    background: #0B9708; }
  .reviews .slick-dots li {
    position: relative;
    display: inline-block;
    border: 1px #1D1D1D solid;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 15px; }
  .reviews .slick-dots li.slick-active {
    position: relative;
    display: inline-block;
    border: 1px #1D1D1D solid;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #1D1D1D;
    border-radius: 50%; }
  .reviews .slick-dots {
    position: absolute;
    bottom: -29%;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center; }
  .reviews .slick-dots li button:before {
    content: ""; }

.footer {
  background-size: cover;
  padding: 60px 0 53px 0;
  overflow: hidden;
  position: relative; }
  .footer .bottom-t {
    display: block;
    background-color: black;
    opacity: 0.1;
    height: 20px;
    width: 37px;
    position: absolute;
    right: 11%;
    top: 0; }
  .footer .caption {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FAFAFA;
    margin-bottom: 16px; }
  .footer .form-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FAFAFA;
    margin-bottom: 20px; }
  .footer input, .footer textarea {
    padding: 3px 16px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    align-items: center;
    color: #FAFAFA !important;
    width: 384px;
    border: 2px solid #FAFAFA;
    background: transparent;
    margin-bottom: 16px; }
  .footer ::-webkit-input-placeholder {
    -webkit-text-security: none;
    color: #FAFAFA;
    pointer-events: none !important; }
  .footer textarea {
    padding: 3px 16px 3px 16px; }
  .footer button {
    margin-top: 5px;
    background-color: transparent;
    border: none; }
  .footer .btn {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    color: #0059CB;
    position: relative;
    padding: 15px 40px;
    max-width: 100%;
    border: 2px solid #fff;
    border-radius: 0;
    z-index: 9;
    background-color: #FFFFFF; }
    .footer .btn:before {
      z-index: -2;
      border: 2px solid #fff;
      position: absolute;
      content: '';
      top: 5px;
      left: -10px;
      bottom: -10px;
      right: 4px; }
    .footer .btn:after {
      z-index: -2;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff; }
    .footer .btn:hover {
      background-color: #FFFFFF;
      color: #0059CB;
      transition: .3s; }
      .footer .btn:hover:after, .footer .btn:hover:before {
        display: none; }
  .footer .footer-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FAFAFA;
    margin-bottom: 0; }
  .footer .text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FAFAFA;
    margin-bottom: 11px; }
    .footer .text span {
      display: block; }
  .footer .follow-ours-small {
    display: none; }
  .footer .text.bottom {
    margin-bottom: 23px; }
  .footer .footer-title.follow {
    margin-bottom: 16px; }
  .footer .image-icon {
    max-width: 24px;
    max-height: 24px;
    margin-right: 12px;
    display: inline-block; }
  .footer .footer-title.tel {
    margin-top: 57px;
    margin-left: 0;
    margin-bottom: 6px; }
  .footer .phone {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FAFAFA;
    margin-bottom: 0; }
    .footer .phone:hover {
      text-decoration: none; }
  .footer .line {
    background-color: rgba(228, 228, 228, 0.2);
    z-index: 1; }
  @media (max-width: 1430px) {
    .footer .bottom-t {
      display: none; } }
  @media (max-width: 991px) {
    .footer input, .footer textarea {
      width: 100%; }
    .footer .btn {
      padding: 15px 30px; } }
  @media (max-width: 767px) {
    .footer {
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 41px 0 53px 0; }
      .footer form {
        display: flex;
        flex-direction: column;
        align-items: center; }
      .footer .form-title {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 22px; }
      .footer .caption {
        margin-bottom: 1px; }
      .footer input, .footer textarea {
        font-size: 14px;
        line-height: 28px;
        max-width: 384px;
        padding: 4px 12px; }
      .footer textarea {
        height: 77px; }
      .footer button {
        margin: 11px 0 46px 0;
        max-width: 384px; }
      .footer .btn {
        font-size: 16px;
        padding: 14px 38px;
        line-height: 22px; }
      .footer .caption.contact {
        margin-bottom: 14px; }
      .footer .footer-title, .footer .text {
        font-size: 16px;
        line-height: 26px; }
      .footer .footer-title {
        margin-bottom: 8px; }
      .footer .follow-ours-desk {
        display: none; }
      .footer .follow-ours-small {
        display: block;
        margin-top: 23px; }
      .footer .text.bottom {
        margin-bottom: -30px; }
      .footer .footer .phone {
        font-size: 16px;
        line-height: 22px; } }
  @media (max-width: 410px) {
    .footer {
      text-align: left; }
      .footer button {
        width: 100%; }
      .footer input, .footer textarea {
        font-size: 14px;
        line-height: 28px;
        width: 100%;
        padding: 4px 12px; } }

@font-face {
  font-family: 'Cera Pro';
  src: url("../../public/fonts/CeraPro-Bold.eot");
  src: local("../../public/fonts/Cera Pro Bold"), local("CeraPro-Bold"), url("../../public/fonts/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/CeraPro-Bold.woff2") format("woff2"), url("../../public/fonts/CeraPro-Bold.woff") format("woff"), url("../../public/fonts/CeraPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  font-family: open-sans, Arial, sans-serif;
  background-color: #fff; }

.list-reset {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0; }

.clearfix:after {
  display: table;
  content: '';
  clear: both; }

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.container-fluid {
  padding: 0 0 !important; }

img {
  width: 100%;
  height: auto; }

/*# sourceMappingURL=main.css.map */
