$font_text: 'Montserrat', sans-serif;
$caption_text: Cera Pro, sans-serif;

@import "header";
@import "banner";
@import "why";
@import "pizzas";
@import "delivery";
@import "products";
@import "fridge";
@import "corporate";
@import "magazine";
@import "reviews";
@import "footer";

@font-face {
  font-family: 'Cera Pro';
  src: url('../../public/fonts/CeraPro-Bold.eot');
  src: local('../../public/fonts/Cera Pro Bold'), local('CeraPro-Bold'),
  url('../../public/fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/CeraPro-Bold.woff2') format('woff2'),
  url('../../public/fonts/CeraPro-Bold.woff') format('woff'),
  url('../../public/fonts/CeraPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: open-sans, Arial, sans-serif;
  background-color: #fff;
}

.list-reset {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.clearfix:after {
  display: table;
  content: '';
  clear: both;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container-fluid {
  padding: 0 0 !important;
}

img {
  width: 100%;
  height: auto;
}

.cafe {
  padding-top: 99px;
  .image {
    max-width: 573px;
    max-height: 603px;
  }

  .cafe-caption {
    font-family: $caption_text;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 70px;
    text-transform: uppercase;
    color: #2D2D2D;
  }

  @media (max-width: 991px) {
    .image {
      margin: auto auto 30px;
    }
    .cafe-caption {
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    padding-top: 60px;

    .cafe-caption {
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }
}

